html {
    scroll-behavior: smooth;
}

html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

.mask {
    overflow: hidden;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

// TODO: temp
.slice + .slice {
    padding-top: 0;
}
