/**
* Breakpoints
* Based on https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
*
* Define media query breakpoints
* we're defining a mobile value as 0px to be used as a default value in mixins using the breakpoint list
**/
$breakpoint-sm: 480px;
$breakpoint-smw: 667px;
$breakpoint-md: 767px;
$breakpoint-mdw: 1025px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1600px;

$breakpoints: (
    'sm': $breakpoint-sm,
    'smw': $breakpoint-smw,
    'md': $breakpoint-md,
    'mdw': $breakpoint-mdw,
    'lg': $breakpoint-lg,
    'xl': $breakpoint-xl,
    'xxl': $breakpoint-xxl,
) !default;
