/**
* Typography
*
* For example icon variables would go into this file
**/

$heading-font: 'Montserrat', sans-serif;
$body-font: 'Montserrat', sans-serif;

// Sizes
$font-size-xxl: 58px;
$font-size-xl: 42px;
$font-size-lg: 28px;
$font-size-md: 22px;
$font-size-sm: 18px;
$font-size-base: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;
$font-size-xxxs: 10px;

// Line Height
$line-height-xxl: 73px;
$line-height-xl: 54px;
$line-height-lg: 36px;
$line-height-md: 28px;
$line-height-sm: 22px;
$line-height-base: 20px;
$line-height-xs: 18px;
$line-height-xxs: 16px;
$line-height-xxxs: 14px;

// Font Weight
$font-weight: 400;
$font-weight-medium: 500;
$font-weight-semibold: 700;
$font-weight-bold: 900;
