.form-input-checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &__input {
        position: absolute;
        z-index: 1;
        top: -4px;
        left: 0;
        opacity: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin: 0;
    }

    &__label {
        position: relative;
        padding-left: 30px;

        &::before {
            position: absolute;
            content: '';
            border: 1px solid $c-form-border;
            border-radius: 8px;
            background-color: $c-form-background;
            left: 0;
            height: 20px;
            width: 20px;
        }

        &::after {
            position: absolute;
            content: '';
            border: 1px solid $c-form-border;
            border-radius: 8px;
            background: $c-white
                url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='10px' height='8px' viewBox='0 0 10 8' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EPath%3C/title%3E%3Cg id='Component-Wireframes-&gt;Form-Fields' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Form-Fields' transform='translate(-168, -711)' fill='%23000000' fill-rule='nonzero'%3E%3Cg id='Group-6' transform='translate(163, 704)'%3E%3Cg id='Group-5' transform='translate(0, 1)'%3E%3Cg id='tick-svgrepo-com' transform='translate(5, 6)'%3E%3Cpath d='M8.69222197,0.236456954 C8.99139385,-0.0788185176 9.4764478,-0.0788190532 9.77562029,0.236455758 C10.0747928,0.551730569 10.0747933,1.06289257 9.77562143,1.37816804 L3.92726939,7.54132082 C3.628102,7.85659157 3.14305689,7.85659752 2.84388254,7.54133411 L0.224391179,4.78097122 C-0.0747876554,4.46570308 -0.0747984366,3.95454108 0.224367098,3.63925893 C0.523532633,3.32397678 1.00858658,3.32396542 1.30776542,3.63923356 L3.38555127,5.82876394 L8.69222197,0.236456954 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
                50% 50% no-repeat;
            left: 0;
            height: 20px;
            width: 20px;
            opacity: 0;
            visibility: hidden;
        }
    }
}

// Checkbox active state
.form-input-checkbox__input:checked + .form-input-checkbox__label::after {
    opacity: 1;
    visibility: visible;
}
