.hero-text {
    position: relative;
    background-color: $c-brand-primary;
    margin: auto;
    padding-top: $block-spacing;
    padding-bottom: $block-spacing;
    text-align: center;

    &::before {
        position: absolute;
        z-index: -1;
        content: '';
        top: 0;
        left: calc(-50vw + 50%);
        background-color: $c-brand-primary;
        height: 100%;
        width: 100vw;
    }

    &__content {
        position: relative;
        z-index: 1;
        padding-left: $container-gutter-width;
        padding-right: $container-gutter-width;

        // TODO: added for quickness. Need to chnage how theme is added to the whole component and not just __title
        & > .tagline,
        & > .prefix {
            color: $c-white;
        }

        & > .tagline {
            max-width: 620px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title {
        margin-bottom: 30px;
        // visibility: hidden;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        &-light {
            color: $c-white;
        }

        &-dark {
            color: $c-black;
        }
    }

    &__action {
        text-align: center;
        padding: 30px 0 0 0;
        margin: auto;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100%;
        width: 100%;

        &::before {
            position: absolute;
            z-index: 1;
            content: '';
            top: 0;
            left: calc(-50vw + 50%);
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100vw;
        }

        & > video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
